# Default ignored files
/shelf/
/workspace.xml
/.env



# User-specific stuff
/.idea/
.idea/**/workspace.xml
.idea/**/vcs.xml
.idea/**/checkstyle-idea.xml
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/jarRepositories.xml
.idea/**/misc.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/workplace.xml

# Allure
*allure-results