# Default ignored files
/shelf/
/workspace.xml
/.idea


# User-specific stuff
.idea/*
.idea/**/workspace.xml
.idea/**/vcs.xml
.idea/**/checkstyle-idea.xml
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/jarRepositories.xml
.idea/**/misc.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Allure
*allure-results